[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gdown = "*"
opencv-python = "*"
numpy = "*"
numba = "*"
tqdm = "*"
scipy = "*"
matplotlib = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.7"
